[flake8]
select = B,B9,BLK,C,E,F,I,S,W,D
docstring-convention = numpy
ignore = E203,E501,W503
per-file-ignores = tests/*:S101
max-line-length=88
application-import-names = stats_can, tests
import-order-style = google
max-complexity = 10
