[tool.poetry]
name = "stats_can"
version = "2.3.4"
description = "Read StatsCan data into python, mostly pandas dataframes"
authors = ["Ian Preston"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/ianepreston/stats_can"
repository = "https://github.com/ianepreston/stats_can"
keywords = ["statistics", "Canada", "data", "API"]

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.20"
h5py = "^2.10.0"
tables = "^3.6.1"
tqdm = "^4.48.0"
pandas = "^1.1.0"
importlib_metadata = {version = "^1.7.0", python = "<3.8"}

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
flake8 = "^3.8.3"
pandas-vet = "^0.2.2"
black = "^19.10b0"
coverage = {extras = ["toml"], version = "^5.2.1"}
pytest-cov = "^2.10.0"
codecov = "^2.1.8"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.1.4"
flake8-black = "^0.2.1"
flake8-import-order = "^0.18.1"
pytest-vcr = "^1.0.2"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["stats_can"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
