interactions:
- request:
    body: '{"vectorIds": [41692457], "startDataPointReleaseDate": "2018-01-01T13:00",
      "endDataPointReleaseDate": "2018-05-01T13:00"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getBulkVectorDataByRange
  response:
    body:
      string: '[{"status":"SUCCESS","object":{"responseStatusCode":0,"productId":18100004,"coordinate":"23.287.0.0.0.0.0.0.0.0","vectorId":41692457,"vectorDataPoint":[]}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
