interactions:
- request:
    body: '{"vectorIds": [74804, 41692457], "startDataPointReleaseDate": "2023-01-01T13:00",
      "endDataPointReleaseDate": "2023-12-01T13:00"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getBulkVectorDataByRange
  response:
    body:
      string: '[{"status":"SUCCESS","object":{"responseStatusCode":0,"productId":23100216,"coordinate":"1.2.1.0.0.0.0.0.0.0","vectorId":74804,"vectorDataPoint":[{"refPer":"2021-12-01","refPer2":"","refPerRaw":"2021-12-01","refPerRaw2":"","value":252203.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2023-02-24T08:30","frequencyCode":6},{"refPer":"2022-01-01","refPer2":"","refPerRaw":"2022-01-01","refPerRaw2":"","value":239174.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2023-02-24T08:30","frequencyCode":6},{"refPer":"2022-02-01","refPer2":"","refPerRaw":"2022-02-01","refPerRaw2":"","value":240378.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2023-02-24T08:30","frequencyCode":6},{"refPer":"2022-03-01","refPer2":[...]
