interactions:
- request:
    body: '[{"vectorId": 41692452}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getSeriesInfoFromVector
  response:
    body:
      string: "[{\"status\":\"SUCCESS\",\"object\":{\"responseStatusCode\":0,\"productId\":18100004,\"coordinate\":\"23.285.0.0.0.0.0.0.0.0\",\"vectorId\":41692452,\"frequencyCode\":6,\"scalarFactorCode\":0,\"decimals\":1,\"terminated\":0,\"SeriesTitleEn\":\"Alberta;All-items
        excluding food and energy\",\"SeriesTitleFr\":\"Alberta;Ensemble excluant
        les aliments et l'\xE9nergie\",\"memberUomCode\":17}}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
