interactions:
- request:
    body: '[{"vectorId": 74804, "latestN": 5}, {"vectorId": 41692457, "latestN": 5}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getDataFromVectorsAndLatestNPeriods
  response:
    body:
      string: '[{"status":"SUCCESS","object":{"responseStatusCode":0,"productId":23100216,"coordinate":"1.2.1.0.0.0.0.0.0.0","vectorId":74804,"vectorDataPoint":[{"refPer":"2023-08-01","refPer2":"","refPerRaw":"2023-08-01","refPerRaw2":"","value":283912.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2024-02-22T08:30","frequencyCode":6},{"refPer":"2023-09-01","refPer2":"","refPerRaw":"2023-09-01","refPerRaw2":"","value":285127.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2024-02-22T08:30","frequencyCode":6},{"refPer":"2023-10-01","refPer2":"","refPerRaw":"2023-10-01","refPerRaw2":"","value":304676.0,"decimals":0,"scalarFactorCode":0,"symbolCode":0,"statusCode":0,"securityLevelCode":0,"releaseTime":"2024-02-22T08:30","frequencyCode":6},{"refPer":"2023-11-01","refPer2":[...]
