interactions:
- request:
    body: '[{"vectorId": 74804}, {"vectorId": 41692457}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getSeriesInfoFromVector
  response:
    body:
      string: "[{\"status\":\"SUCCESS\",\"object\":{\"responseStatusCode\":0,\"productId\":23100216,\"coordinate\":\"1.2.1.0.0.0.0.0.0.0\",\"vectorId\":74804,\"frequencyCode\":6,\"scalarFactorCode\":0,\"decimals\":0,\"terminated\":0,\"SeriesTitleEn\":\"Canada;Total
        non-intermodal traffic loaded;Number of rail cars\",\"SeriesTitleFr\":\"Canada;Total,
        trafic non-intermodal charg\xE9;Nombre de wagons\",\"memberUomCode\":223}},{\"status\":\"SUCCESS\",\"object\":{\"responseStatusCode\":0,\"productId\":18100004,\"coordinate\":\"23.287.0.0.0.0.0.0.0.0\",\"vectorId\":41692457,\"frequencyCode\":6,\"scalarFactorCode\":0,\"decimals\":1,\"terminated\":0,\"SeriesTitleEn\":\"Alberta;All-items
        excluding energy\",\"SeriesTitleFr\":\"Alberta;Ensemble excluant l'\xE9nergie\",\"memberUomCode\":17}}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
