interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getChangedCubeList/2023-09-05
  response:
    body:
      string: '{"status":"SUCCESS","object":[{"responseStatusCode":0,"productId":33100163,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":10100139,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":33100036,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":10100113,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":16100017,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":16100046,"releaseTime":"2023-09-05T08:30"},{"responseStatusCode":0,"productId":18100245,"releaseTime":"2023-09-05T08:30"},{"resp[...]
