interactions:
- request:
    body: '[{"productId": "27100022"}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getCubeMetadata
  response:
    body:
      string: "[{\"status\":\"SUCCESS\",\"object\":{\"responseStatusCode\":0,\"productId\":\"27100022\",\"cansimId\":\"358-0159\",\"cubeTitleEn\":\"Personnel
        engaged in research and development by performing sector and occupational
        category\",\"cubeTitleFr\":\"Personnel affect\xE9 \xE0 la recherche et d\xE9veloppement
        selon le secteur d'ex\xE9cution et la cat\xE9gorie professionnelle\",\"cubeStartDate\":\"2000-01-01\",\"cubeEndDate\":\"2020-01-01\",\"frequencyCode\":12,\"nbSeriesCube\":85,\"nbDatapointsCube\":1511,\"releaseTime\":\"2023-03-29T08:30\",\"archiveStatusCode\":\"2\",\"archiveStatusEn\":\"CURRENT
        - a cube available to the public and that is current\",\"archiveStatusFr\":\"ACTIF
        - un cube qui est disponible au public et qui est toujours mise a jour\",\"subjectCode\":[\"2702\"],\"surveyCode\":[\"5193\"],\"dimension\":[{\"dimensionPositionId\":1,\"dimensionNameEn\":\"Geography\",\"dimensionNameFr\":\"G\xE9ographie\",\"hasUom\":false,\"member\":[{\"memberId\":1,\"parentMemberId\":null,\"memberNameEn\":\"Canada\",\"memberNameFr\":\"Canada\",\"classificationCode\":\"11124\",\"classificationTypeCode\":\"1\",\"geoLevel\":0,\"vintage\":2016,\"terminated\":0,\"memberUomCode\":null}]},{\"dimensionPositionId\":2,\"dimensionNameEn\":\"Performing
        sector\",\"dimensionNameFr\":\"Secteur d'ex\xE9cution\",\"hasUom\":false,\"member\":[{\"memberId\":1,\"parentMemberId\":null,\"memberNameEn\":\"Total,
        performing sectors\",\"memberNameFr\":\"Total, secteurs d'ex\xE9cution\",\"classificationCode\":null,\"classificationTypeCode\":null,\"geoLevel\":null,\"vintage\":null,\"terminated\":0,\"memberUomCode\":null},{\"memberId\":2,\"parentMemberId\":1,\"memberNameEn\":\"[...]
