interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www150.statcan.gc.ca/t1/wds/rest/getCodeSets
  response:
    body:
      string: "{\"status\":\"SUCCESS\",\"object\":{\"scalar\":[{\"scalarFactorCode\":0,\"scalarFactorDescEn\":\"units\",\"scalarFactorDescFr\":\"unit\xE9s\"},{\"scalarFactorCode\":1,\"scalarFactorDescEn\":\"tens\",\"scalarFactorDescFr\":\"dizaines\"},{\"scalarFactorCode\":2,\"scalarFactorDescEn\":\"hundreds\",\"scalarFactorDescFr\":\"centaines\"},{\"scalarFactorCode\":3,\"scalarFactorDescEn\":\"thousands\",\"scalarFactorDescFr\":\"milliers\"},{\"scalarFactorCode\":4,\"scalarFactorDescEn\":\"tens
        of thousands\",\"scalarFactorDescFr\":\"dizaines de milliers\"},{\"scalarFactorCode\":5,\"scalarFactorDescEn\":\"hundreds
        of thousands\",\"scalarFactorDescFr\":\"centaines de milliers\"},{\"scalarFactorCode\":6,\"scalarFactorDescEn\":\"millions\",\"scalarFactorDescFr\":\"millions\"},{\"scalarFactorCode\":7,\"scalarFactorDescEn\":\"tens
        of millions\",\"scalarFactorDescFr\":\"dizaines de millions\"},{\"scalarFactorCode\":8,\"scalarFactorDescEn\":\"hundreds
        of millions\",\"scalarFactorDescFr\":\"centaines de millions\"},{\"scalarFactorCode\":9,\"scalarFactorDescEn\":\"billions\",\"scalarFactorDescFr\":\"milliards\"}],\"frequency\":[{\"frequencyCode\":1,\"frequencyDescEn\":\"Daily\",\"frequencyDescFr\":\"Quotidienne\"},{\"frequencyCode\":11,\"frequencyDescEn\":\"Semi-annual\",\"frequencyDescFr\":\"Semestrielle\"},{\"frequencyCode\":12,\"frequencyDescEn\":\"Annual\",\"frequencyDescFr\":\"Annuelle\"},{\"frequencyCode\":13,\"frequencyDescEn\":\"Every
        2 years\",\"frequencyDescFr\":\"Aux 2 ans\"},{\"frequencyCode\":14,\"frequencyDescEn\":\"Every
        3 years\",\"frequencyDescFr\":\"Aux 3 ans\"},{\"frequencyCode\":15,\"frequencyDescEn\":\"Every
        4 years\",\"frequencyDescFr\":\"Aux [...]
